@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Exo2';
    font-weight: 600;
    src: url("/assets/fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Exo2';
    font-weight: 900;
    src: url("/assets/fonts/Exo2-Exo2-VariableFont_wght.ttf") format("truetype");
}

.main-content {
    padding-top: 5.25rem;
}