---
import Layout from '../Layout/MainLayout.astro';
import '../Styles/global.css';
import Header from '../Component/header.jsx';

---

<style>
/* .cs-title {
	color: #9147ff;
	font-size: 5rem;
} */
</style>


<Layout title="Dashboard">

	<Header title="META API Sandbox/PlayGround"/>
	
	<!-- <div class="flex justify-center">
	  <h1 class="font-header text-[100px]">META API Sandbox/PlayGround</h1>
	</div> -->
</Layout>