---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>

        <div class="container">

            <h1>Privacy policy</h1>
            <p>
                By using my application, you are agreeing to my privacy policy:

            </p><br>
            <ul>
                <li>Usage: This is for testing only</li>
                <li>Your data will not be shared or sold</li>
            </ul><br>
            <p>This policy is currently temporary and will be updated.</p>

        </div>
	</body>
</html>